---
import HTML from "./../assets/icons/Html.astro";
import JavaScript from "./../assets/icons/JavaScript.astro";
import Php from "./../assets/icons/Php.astro";
import Bento from "./Bento.astro";
import Wordpress from "./../assets/icons/Wordpress.astro";
import NodeJS from "./../assets/icons/NodeJS.astro";
import React from "./../assets/icons/React.astro";
import Tailwind from "./../assets/icons/Tailwind.astro";
import CSS from "../assets/icons/CSS.astro";
import AstroIcon from "../assets/icons/AstroIcon.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: HTML,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  Php: {
    name: "Php",
    class: "bg-black text-white",
    icon: Php,
  },
  Wordpress: {
    name: "Wordpress",
    class: "bg-black text-white",
    icon: Wordpress,
  },
  NodeJS: {
    name: "NodeJS",
    class: "bg-black text-white",
    icon: NodeJS,
  },
  React: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  Tailwind: {
    name: "Tailwind",
    class: "bg-black text-white",
    icon: Tailwind,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: CSS,
  },
  Astro: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
};

const PROJECTS = [
  {
    title: "Feinco",
    description: "Simulador de creditos",
    link: "https://feinco.com.co/simula-tu-credito/",
    github: "https://github.com/dmunoz05/simulator-credit",
    image: "/feinco.webp",
    tags: [TAGS.Wordpress, TAGS.JavaScript, TAGS.Php, TAGS.NodeJS, TAGS.CSS],
  },
  {
    title: "Plataformain",
    description: "Calendario para juntas y negocios empresariales",
    link: "https://plataformain.com",
    github: "https://github.com/dmunoz05/calendar-with-js",
    image: "/platformain.webp",
    tags: [TAGS.Wordpress, TAGS.JavaScript, TAGS.Php, TAGS.NodeJS, TAGS.CSS],
  },
  {
    title: "Cea Conduzcan S.A.S",
    description: "Pagina de empresa de conducción",
    link: "https://ceaconduzcan.com/",
    github: "",
    image: "/ceaconduzcan.webp",
    tags: [TAGS.Wordpress, TAGS.JavaScript, TAGS.Php, TAGS.NodeJS],
  },
  {
    title: "Computer Vision",
    description: "Calculadora de creditos",
    link: "https://analyze-and-generate-images-next-js.vercel.app",
    github:
      "https://github.com/dmunoz05/analyze-and-generate-images-with-Azure-AI",
    image: "/computerVision.webp",
    tags: [TAGS.React, TAGS.JavaScript, TAGS.HTML, TAGS.CSS, TAGS.Tailwind],
  },
  {
    title: "Mavicontrol",
    description: "Calculadora de creditos",
    link: "https://www.mavicontrol.com/",
    github: "",
    image: "/mavicontrol.webp",
    tags: [TAGS.Wordpress, TAGS.HTML, TAGS.JavaScript, TAGS.Php],
  },
  {
    title: "Landing de Tesla",
    description: "Calculadora de creditos",
    link: "https://polite-sprite-9a6722.netlify.app",
    github: "https://github.com/dmunoz05/landing-tesla",
    image: "/landingTesla.webp",
    tags: [TAGS.Astro, TAGS.Tailwind, TAGS.HTML, TAGS.JavaScript],
  },
  {
    title: "Infinit Pymes",
    description: "Administrador de negocios",
    link: "",
    github: "",
    image: "/infinitPymes.webp",
    tags: [TAGS.React, TAGS.JavaScript, TAGS.HTML, TAGS.CSS, TAGS.Tailwind],
  },
];
---

<!--
{
  PROJECTS.map(({ title, description, tags, image }) => (
    // Terminar Swipper para responsive
    <>
      <article class="relative -z-10 bg-gray-500 w-full h-full shadow-2xl shadow-white/70">
        <div class="blur-0 z-10">
          <img
            class=" size-96 rounded"
            src={image}
            alt={`Captura de pantalla del proyecto${image}`}
          />
        </div>
      </article>
      <article>
        <h3 class="text-2xl font-semibold text-sky-400 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-4 flex-row pb-6">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          class="rounded shadow-2xl shadow-white/100"
          src={image}
          alt={`Captura de pantalla del proyecto${image}`}
        />
      </article>
    </>
  ))
} -->
<div class="grid auto-rows-[300px] grid-cols-3 gap-4">
  {PROJECTS.map((item, i) => <Bento item={item} i={i} />)}
</div>
