---
import Projects from "./Projects.astro";
import SwipperSlide from "./SwipperSlide.astro";
import { PROJECTS } from "./Projects.astro";
---

<swiper-container
  class="text-white rounded-2xl h-[400px] w-full cursor-pointer"
  autoplay="true"
>
  {
    PROJECTS.map(
      (item, i) => (
        <SwipperSlide class="h-full rounded-2xl">
          <a
            href={item.link}
            target="_blank"
            class={
              "relative grid row-span-1 rounded-2xl border-2 pt-6 pl-6 pr-6 h-full w-full"
            }
          >
            <article class="absolute left-0 top-0 rounded-2xl z-10 w-full h-full shadow-2xl hover:blur-sm">
              <div class="blur-0 z-10 h-full w-full hover:blur-sm">
                <img
                  class="hover:blur-sm h-full w-full rounded-2xl"
                  src={item.image}
                  alt={`Captura de pantalla del proyecto ${item.title}`}
                />
              </div>
            </article>
            <header class="absolute z-20 top-1 w-full">
              <h1 class="text-xl font-medium pl-4">{item.title}</h1>
            </header>
            <footer class="absolute z-20 bottom-0 left-0 w-full rounded-b-2xl bg-zinc-400/40 backdrop: ">
              <ul class="relative flex gap-x-4 flex-row p-2 rounded-b-2xl ">
                {item.tags.map((tag) => (
                  <li>
                    <span
                      class={`relative flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2 z-40`}
                    >
                      <tag.icon class="size-5 cursor-default" />
                    </span>
                  </li>
                ))}
              </ul>
            </footer>
          </a>
        </SwipperSlide>
      )
      // <Bento item={item} i={i} />
    )
  }
</swiper-container>
